*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  font-size: 10px;
}

.App {
  min-height: 100vh;
  min-width: 100%;
  background-color: hsl(207, 26%, 17%);
}

.Applight {
  background-color: hsl(0, 0%, 98%);
}